{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {% if session["user_role"] == "patient" %}
        <h1>Patient Dashboard</h1>
        <p>Welcome to Crosscheck!</p>
        <p>This page is still under development. More will be added later!</p>
        <a href="{{ url_for('patient_profile') }}" style="color:white;">Patient Profile</a><br><br>
        <a href="{{ url_for('health_log') }}" style="color:white;">Create Health Log</a><br><br>
        <a href="{{ url_for('get_checkups', patient_id=session['user_id']) }}" style="color:white;">
            View GP Checkup Logs
        </a><br><br>
        <a href="{{ url_for('manage_relatives') }}" style="color:white;">Manage Trusted Relatives</a><br><br>
        <a href="{{ url_for('logout_user') }}" style="color:white;">Logout</a>
    {% elif session["user_role"] == "relative" %}
        <h1>Carer Dashboard</h1>
        <p>Welcome to Crosscheck!</p>
        <p>This page is still under development. More will be added later!</p>
        <a href="{{ url_for('select_patient') }}" style="color:white;">View Patient Information</a><br><br>
        <a href="{{ url_for('logout_user') }}" style="color:white;">Logout</a>
    {% elif session["user_role"] == "gp" %}
        <h1>GP Dashboard</h1>
        <p>Welcome to Crosscheck!</p>
        <p>This page is still under development. More will be added later!</p>
        <a href="{{ url_for('checkup') }}" style="color:white;">Log Check-up Details</a><br><br>
        <a href="{{ url_for('logout_user') }}" style="color:white;">Logout</a>
    {% endif %}
{% endblock %}