{% extends 'base.html' %}

{% block content %}

    <h1>Update Profile</h1>

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.hypertension }} {{ form.hypertension.label }}<br>
        </p>
        <p>
            {{ form.diabetes }} {{ form.diabetes.label }}<br>
        </p>
        <p>
            {{ form.heart_disease }} {{ form.heart_disease.label }}<br>
        </p>
        <p>
            {{ form.arthritis }} {{ form.arthritis.label }}<br>
        </p>
        <p>
            {{ form.osteoporosis }} {{ form.osteoporosis.label }}<br>
        </p>
        <p>
            {{ form.copd }} {{ form.copd.label }}<br>
        </p>
        <p>
            {{ form.stroke }} {{ form.stroke.label }}<br>
        </p>
        <p>
            {{ form.dementia }} {{ form.dementia.label }}<br>
        </p>
        <p>
            {{ form.vision_problems }} {{ form.vision_problems.label }}<br>
        </p>
        <p>
            {{ form.hearing_loss }} {{ form.hearing_loss.label }}<br>
        </p>
        <p>
            {{ form.allergies.label }}<br>
            {{ form.allergies }}<br>
        </p>
        <p>
            {{ form.smoking_status.label }}<br>
            {{ form.smoking_status }}<br>
        </p>
        <p>
            {{ form.alcohol_consumption.label }}<br>
            {{ form.alcohol_consumption }}<br>
        </p>
        <p>
            {{ form.physical_activity.label }}<br>
            {{ form.physical_activity }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <a href="{{ url_for('get_patient_profile', patient_id=profile.user_id) }}" style="color:white;">
        Cancel Update
    </a>

{% endblock %}