{% extends 'base.html' %}

{% block content %}
    {% if session['user_role'] == 'patient' %}
        <a href="{{ url_for('health_log') }}" style="color:white;">
            Back to Health Log Form
        </a>
        <h1>{{ patient.first_name }} {{ patient.last_name }} - Health Logs</h1>
    {% elif session['user_role'] == 'relative' %}
        <a href="{{ url_for('patient_info', patient_id=patient_id) }}" style="color:white;">
            Back to Patient Information
        </a>
        <h1>{{ patient[0] }} {{ patient[1] }} - Health Logs</h1>
    {% endif %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.start_date.label }} {{ form.start_date }}
        </p>
        <p>
            {{ form.end_date.label }} {{ form.end_date }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if healthlog %}
        <table border="1" cellpadding="5">
            <thead>
                <th>Date & Time</th>
                <th>Temperature (°C)</th>
                <th>Blood Pressure (mmHg)</th>
                <th>Mood</th>
                <th>Notes</th>
                {% if session['user_role'] == 'patient' %}
                    <th>Update Health Log</th>
                    <th>Delete Health Log</th>
                {% endif %}
            </thead>
            <tbody>
                {% for log in healthlog %}
                    <tr>
                        <td>
                            {{ log.created_at.strftime('%A') }},
                            {{ log.created_at.strftime('%Y-%m-%d') }}<br>
                            {{ log.created_at.strftime('%H:%M') }}
                        </td>
                        <td>
                            {{ log.temperature }}
                        </td>
                        <td>
                            {{ log.bp_systolic }}/{{ log.bp_diastolic }}
                        </td>
                        <td>
                            {{ log.mood }}
                        </td>
                        <td>
                            {{ log.notes }}
                        </td>
                        {% if session['user_role'] == 'patient' %}
                            <td>
                                <a href="{{ url_for('update_health_data', log_id=log.id) }}" style="color:white;">
                                    Update
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('delete_health_data', log_id=log.id) }}" style="color:white;">
                                    Delete
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No data found for the selected date range.</p>
    {% endif %}
{% endblock %}